<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Identity</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/scripts")
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <main class="mdl-layout__content">
            <div class="page-content" style="height: 600px">
                @Html.ValidationSummary()
                @RenderBody()
            </div>
        </main>
    </div>
    @RenderSection("scripts", required: false)
    <script>
        //BUG -> Solução para corrigir bug do mdl ao colocar required nos campos 
        /**
        * Check the validity state and update field accordingly.
        *
        * public
       */
        MaterialTextfield.prototype.checkValidity = function () {
            if (this.input_.validity.valid) {
                this.element_.classList.remove(this.CssClasses_.IS_INVALID);
            } else {
                if (this.element_.getElementsByTagName('input')[0].value.length > 0) {
                    this.element_.classList.add(this.CssClasses_.IS_INVALID);
                }
            }
        };
    </script>
</body>
</html>
